<h1>Editar Fatura</h1>
<!-- Breadcrumb -->
<nav class="d-flex">
  <h6 class="ms-1 mb-0">
    <%= link_to "Home", root_path, class: "text-reset"%>
    <span>/</span>
    <%= link_to "Faturas", invoices_path, class: "text-reset"%>
    <span>/</span>
    <%= link_to "O2O##{@invoice.id}", invoice_path(@invoice), class: "text-reset"%>
    <span>/</span>
    <a href="" class="text-reset">Editar</a>
  </h6>
</nav>
<!-- Breadcrumb -->
<%= render "form_invoice", invoice: @invoice %>
