<div class="d-flex justify-content-between">
  <h1>Aulas para confirmação</h1>
  <h3 class="text-muted"><span class="badge bg-danger rounded-pill"><%= @unconfirmed_total_count %></span></h3>
</div>
<div class="container mt-5" data-controller="select2">
  <% @events.each do |event| %>
    <%= render "event_to_process", event: event %>
  <% end %>
  <% if @events.count <= 0 %>
    <div class="row align-items-center border-bottom rounded bg-white mt-0 mb-4" style="min-height: 150px;">
      <div class="col text-center">
        <h4>Sem mais aulas para confirmar!</h4>
      </div>
    </div>
  <% end %>
</div>
