<div id="<%= dom_id coach %>">
  <p>
    <strong>First name:</strong>
    <%= coach.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= coach.last_name %>
  </p>

  <p>
    <strong>Cel number:</strong>
    <%= coach.cel_number %>
  </p>

</div>
